*{
	margin:0;
	padding: 0;
	box-sizing: 0;
}
body{
	background-image:url(img/me.jpg);
	background-attachment:fixed;
	background-size:cover;
}
header{
	font-family: Raleway;
	color:white;
	font-size: 1.5rem;
	height: 20vh;
	border-bottom: 2px solid white;
}
.timer{

	font-family: Raleway;
	font-size: 1.5rem;
	color:white;
	display: grid;
	justify-items: center;
	
}
header,form{

	display: flex;
	justify-content: center;
	

}

.todo-input{
	padding: 0.5rem;
	font-size: 1rem;
	color:white;
	background-color: transparent;
	border:0px;
	border-bottom: 2px solid white;
	width: 20%;
}
.time{
	padding: 0.5rem;
	font-size: 1rem;
	color:white;
	background-color: transparent;
	border:0px;
	border-bottom: 2px solid white;
}

.add-todo{
	padding: 0.5rem;
	font-size: 1rem;
	color:white;
	background-color: transparent;
	border:0px;
	border-bottom: 2px solid white;
}

.add-todo:hover{
background-color: #58d68d;
}
.add-todo i:hover{
color: white;
}

/*div of ul aka container*/
.todo-main{
	display: flex;
	justify-content: center;
	align-items: center;
}
/*ul*/
.todo-list{
	list-style: none;
	font-family: Raleway;
	font-size: 1rem;
	font-weight: bold;
	color:white;
	width:auto;
}

/*div of li*/
.todo-div{
	margin:0.5rem;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid white;
	transition: all 1s ease;  
}

.todo-div.done{
	opacity: 0.5;
	text-decoration:line-through; 
}
.todo-div.fall{
	transform: translateX(8rem) rotateZ(360deg);
	opacity: 0; 
}

/*idk but this makes the 2 btn go rigth
	not familiar with css flex
*/
.todo-div li{
	flex:1;
}


/*li buttons*/
.check-btn{
	border:0;
	padding: 0.5rem;
	background-color: #58d68d;
	transition:all 1s ease; 
}
.check-btn:hover{
background-color: #186a3b ;
}
.checkbtn:hover{
	color:white;
}


.delete-btn{
	background-color: transparent;
	border:0;
	padding: 0.5rem;
	background-color:   #f1c40f  ;
	transition: all 1s ease; 
}
.delete-btn:hover{
	background-color:  red ;
}
.delbtn:hover{
	color:white;
}

/*remove pointer in check-btn and delete-btn*/
.fa-trash,
.fa-check{
	pointer-events: none;
}

/*
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5vh;
	width: 100vw;
	background:linear-gradient(to top, transparent, white);
	position: fixed;
	bottom:0; 
}
*/
